<a href="https://colab.research.google.com/github/Alok594/alok/blob/main/Tutorial_14_Python_Pickling_And_Unpickling_Part_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tutorial 14- Python Pickling And Unpickling

The pickle module implements binary protocols for serializing and de-serializing a Python object structure. “Pickling” is the process whereby a Python object hierarchy is converted into a byte stream, and “unpickling” is the inverse operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy. Pickling (and unpickling) is alternatively known as “serialization”, “marshalling,” 1 or “flattening”; however, to avoid confusion, the terms used here are “pickling” and “unpickling”.

Pickle in Python is primarily used in serializing and deserializing a Python object structure. In other words, it's the process of converting a Python object into a byte stream to store it in a file/database, maintain program state across sessions, or transport data over the network

In [ ]:
# Object hierarchy refers to the structure in which objects or entities are arranged in a parent-child relationship, often in a tree-like format.
# niche jo hai wo ek lib ai python mein
import seaborn as sns

In [ ]:
# The code df = sns.load_dataset('tips') is used to load a dataset called "tips" into a Pandas DataFrame named df using the Seaborn library in Python.
df=sns.load_dataset('tips')

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# The import pickle statement in Python is used to import the pickle module, which provides a way to serialize and deserialize Python objects.
import pickle

In [ ]:
# the variable filename = 'file.pkl' is simply assigning the string 'file.pkl' to the variable filename. This string represents the name of a file with a .pkl extension, which is commonly used for files that contain serialized (pickled) Python objects.
filename='file.pkl'

open(filename, 'wb'):

open(): This function opens a file. It requires two arguments: the file name and the mode in which to open the file.
filename: This is the name of the file where you want to save the serialized object. It's a variable that holds the file name (for example, 'file.pkl').
'wb': This specifies the mode in which to open the file:
'w' stands for write mode, meaning you're opening the file to write data to it.
'b' stands for binary mode, which is required for writing byte streams (as opposed to text).

In [ ]:
##serialize process
pickle.dump(df,open(filename,'wb'))

In [ ]:
##unsereliaze
df=pickle.load(open(filename,'rb'))

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
dic_example={'first_name':'Krish','last_name':'Naik'}

In [ ]:
pickle.dump(dic_example,open('test.pkl','wb'))

In [ ]:
pickle.load(open('test.pkl','rb'))

{'first_name': 'Krish', 'last_name': 'Naik'}